<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= data.name %>님의 정보들입니다.</h1>
    <ul>
      <li>userid : <%= data.userid %></li>
      <li>name : <%= data.name %></li>
      <li>pw : <%= data.pw %></li>
    </ul>
    <a href="/editinfo">정보 수정하기</a>
  </body>
</html>
