<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <script>
    function axios_get() {
      const resultText = document.querySelector(".resultText");
      const check = document.querySelectorAll(".check");
      let checked_item = "";
      for (let item of check) {
        if (item.checked === true) {
          checked_item = checked_item + " " + item.value;
        }
      }
      console.log(checked_item);
      const form = document.forms["register"];
      const data = {
        name: form.name.value,
        gender: form.gender.value,
        year: form.year.value,
        month: form.month.value,
        day: form.day.value,
        fa: checked_item,
      };
      axios({
        method: "GET",
        //url : `/axios?name=${form.name.value}&gender=${form.gender.value}`을 하여 url과 params를 합침
        url: "/axios",
        params: data,
      }).then((res) => {
        console.log(res);
        resultText.textContent = `GET /axios 요청완료 ${res.data.name}님은 ${res.data.gender}이고 ${res.data.year}년 ${res.data.month}월 ${res.data.day}일 태어나셨으며, ${res.data.fa}에 관심이 많습니다.`;
        resultText.style.color = "black";
      });
    }
  </script>
  <body>
    <form name="register">
      이름 <input type="text" name="name" id="name" />
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="M" value="남자" />남자
        <input type="radio" name="gender" id="W" value="여자" />여자
      </fieldset>
      <fieldset>
        <legend>생년월일</legend>
        <select name="year" id="년">
          <option value="2023">2023</option>
        </select>
        년
        <select name="month" id="월">
          <option value="7">07</option></select
        >월
        <select name="day" id="일">
          <option value="31">31</option></select
        >일
      </fieldset>
      <fieldset>
        <legend>관심사</legend>
        <input
          class="check"
          type="checkbox"
          name="fa"
          id="여행"
          value="여행"
        />여행
        <input
          class="check"
          type="checkbox"
          name="fa"
          id="패션"
          value="패션"
        />패션
        <input
          class="check"
          type="checkbox"
          name="fa"
          id="음식"
          value="음식"
        />음식
      </fieldset>
      <br />
      <button type="button" onclick="axios_get()">회원가입</button>
      <div class="resultText"></div>
    </form>
  </body>
</html>
