<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/bugs">벌레 코드</a>
    <a href="/fruits">과일 코드</a>
    <a href="/gugu">구구단 코드</a>
  </body>
</html>
