<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for(var i=2; i< data.length+1; i++) { %>
    <div>--<%= i %>단--</div>
    <% for(var j=1; j< data.length+1; j++) { %>
    <div><%= i %>*<%= j %> = <%= i*j %></div>
    <% } %> <% } %>
  </body>
</html>
