<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h4>GET 요청</h4>
    <form action="/getForm" method="get">
      <input type="text" placeholder="id" name="id" required pattern="" />
      <input type="password" placeholder="pw" name="pw" />
      <button type="submit">제출</button>
    </form>
    <hr />
    <h4>POST 요청</h4>
    <form action="/postform" method="post">
      <input type="text" placeholder="id" name="id" readonly />
      <input type="password" placeholder="pw" name="pw" disabled /><br />
      <input type="email" /><br />
      <input type="radio" /><br />
      <input type="tel" /><br />
      <input type="checkbox" /><br />
      <button type="submit">제출</button>
    </form>
  </body>
</html>
