.container {
  width: 500px;
  height: 800px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  color: orange;
}

.title {
  font-weight: bold;
  font-size: 25px;
  margin: 20px;
}

.section {
  width: 80%;
  text-align: start;
  font-weight: bold;
}
span {
  color: red;
}
