<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈</title>
  </head>
  <body>
    <h1>뭘봐</h1>
    <a href="/comments">댓글목록 보러가기</a>
  </body>
</html>
